<div class="main-content">
    <div class="container-fluid">

        <!-- Antho -->

        <div class="row">


            <div class="col-md-6 col-sm-12">

                <div class="card">

                    <div class="card-header card-header-danger">

                        <h4 class="card-title">New ingredient</h4>
                        <p class="card-category">Add ingredient in your database</p>

                    </div>

                    <div class="card-body">


                        <div class="row">

                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" name="name" value="{{ingredientData.name}}"
                                    (keyup)="onKeyName($event)">
                                </mat-form-field>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Protein" name="protein"
                                        value="{{ingredientData.protein}}" type="number" (keyup)="onKeyProt($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Lipid" name="lipid" value="{{ingredientData.lipid}}"
                                        type="number" (keyup)="onKeyLipid($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Carbs" name="carbs" value="{{ingredientData.carbs}}"
                                        type="number" (keyup)="onKeyCarbs($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="kcal" name="kcal" value="{{ingredientData.kcal}}"
                                        type="number" (keyup)="onKeyKcal($event)">
                                </mat-form-field>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="quantity" name="qty"
                                        value="{{ingredientData.quantity}}" type="number" (keyup)="onKeyQty($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="unit" name="unit" value="{{ingredientData.unit}}"
                                    (keyup)="onKeyUnit($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-danger pull-right" (click)="onCreate()">Add</button>
                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>

                </div>

                <div class="card">

                    <div class="card-header card-header-danger">

                        <h4>My ingredients</h4>
                        <p class="card-category">Personal ingredients data list</p>

                    </div>

                    <div class="card-body">

                        <mat-selection-list [multiple]="false" (selectionChange)="onChangeSearchedIngredient($event)">
                            <mat-list-option class="list-single-selection-example"
                                *ngFor="let ingredient of myIngredients; let i = index" value="{{i}}">
                                {{ingredient}}
                            </mat-list-option>
                        </mat-selection-list>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-sm-12">

                <div class="card">

                    <div class="card-header card-header-danger">

                        <h4>Ingredients database</h4>
                        <p class="card-category">Find and add ingredients from the data base to your personnal
                            ingredients database</p>

                    </div>

                    <div class="card-body">


                        <div class="row">

                            <div class="col-8">

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Ingredient" type="text" name="dbIngredients"
                                        (keyup)="onKeySeaerchedIngredients($event)">
                                </mat-form-field>

                            </div>


                        </div>


                        <div class="row">

                            <div class="col-12">

                                <mat-selection-list [multiple]="false"
                                    (selectionChange)="onChangeSearchedIngredient($event)">
                                    <mat-list-option class="list-single-selection-example"
                                        *ngFor="let ingredient of searchedIngredients; let i = index" value="{{i}}">
                                        {{ingredient.name}}
                                    </mat-list-option>
                                </mat-selection-list>

                            </div>

                        </div>


                    </div>

                </div>

            </div>


        </div>



    </div>
</div>