<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Information</h4>
                <p class="card-category">Client information</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-danger">
                        <th>Information</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nom</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Prenom</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Poids</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Taille</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Sex</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Morphotype</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Objectif</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Needs</h4>
                <p class="card-category">Client status and needs</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-danger">
                        <th>Information</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Weight</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Pmorphology</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>activity</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>time of activity</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>