<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Information</h4>
                <p class="card-category">Client information</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table" >
                    <thead class="text-danger">
                        <th>Information</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{currentClient.name}}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>{{currentClient.age}}</td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>{{currentClient.weight}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>{{currentClient.height}}</td>
                        </tr>
                        <tr>
                            <td>Activity</td>
                            <td>{{currentClient.activity}}</td>
                        </tr>
                        <tr>
                            <td>Morphotype</td>
                            <td>{{currentClient.morphology}}</td>
                        </tr>
                        <tr>
                            <td>Objectif</td>
                            <td>{{currentClient.goal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Needs</h4>
                <p class="card-category">Client status and needs</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-danger">
                        <th>Needs</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kcal</td>
                            <td>{{kcalNeeds}}</td>
                        </tr>
                        <tr>
                            <td>Protein</td>
                            <td>{{protNeeds}}</td>
                        </tr>
                        <tr>
                            <td>Lipids</td>
                            <td>{{lipNeeds}}</td>
                        </tr>
                        <tr>
                            <td>Carbohydrates</td>
                            <td>{{carbNeeds}}</td>
                        </tr>
                        <tr>
                            <td>BMI</td>
                            <td>{{BMI | number:'.2-2' }}</td>
                        </tr>
                        <tr>
                            <td>BMI status</td>
                            <td>{{BMIStat}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>