<form>
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input  class="form-control" id="name">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="inputEmail1">
    </div>
    <div class="mb-3">
      <label for="inputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword1">
    </div>
    <div class="mb-3">
        <label for="inputPassword2" class="form-label">Same Password</label>
        <input type="password" class="form-control" id="inputPassword2">
    </div>

    <div class="mb-3">
        <label for="key" class="form-label">Key Access</label>
        <input class="form-control" id="key" aria-describedby="keyHelp">
        <div id="keyHelp" class="form-text">the key assigned to your company</div>
      </div>

      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>