<div class="card">
  <div class="card-header card-header-success">
    <h4>Clients</h4>
    <p class="card-category">Clients list</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <mat-selection-list [multiple]="false" (selectionChange)="onChange($event)">
          <mat-list-option class="list-single-selection-example" *ngFor="let client of customers" value="{{client._id}}">
            <div class="col-lg-12">
            <label>{{client.email}}</label>
            
              <button mat-raised-button type="button" matTooltip="Remove" (click)="onRemoveClient(client)"
                  [matTooltipPosition]="'above'"
                  class="btn btn-warning btn-link btn-sm btn-just-icon pull-right">
                  <i class="material-icons">close</i>
              </button>

          </div>
                                            
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success pull-right" routerLink="/register-customers">Add Client</button>
      </div>
    </div>
  </div>


</div>