<div class="main-content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-6 col-md-12">

                <div class="card">

                    <div class="card-header card-header-warning">

                        <h4 class="card-title">Receipts</h4>
                        <p class="card-category">Find or create a recipe</p>

                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-8">

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Recipe name" type="text" (keyup)="onKeySearchedRecipes($event)">
                                </mat-form-field>

                            </div>

                            <div class="col-md-4">

                                <button class="btn btn-warning pull-right" routerLink="/register-recipes">New Recipe</button>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-12">

                                <mat-selection-list [multiple]="false" (selectionChange)="onChangeMyRecipes($event)">

                                    <mat-list-option class="list-single-selection-example" *ngFor="let recipe of mySearchedRecipes" value="{{recipe}}">

                                        <div class="col-12">
                                            <label>{{recipe}}</label>
                                        </div>
                                    </mat-list-option>

                                </mat-selection-list>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-sm-12">

                <div class="card">

                    <div class="card-header card-header-warning">

                        <h4 class="card-title">Information of recipe</h4>
                        <p class="card-category">Recipe </p>

                    </div>

                    <div class="card-body">

                        <div class="card-content table-responsive table-full-width">

                            <table class="table">

                                <thead class="text-warning">

                                    <th>Name</th>
                                    <th>Protein</th>
                                    <th>Lipid</th>
                                    <th>kcal</th>
                                    <th>carbs</th>

                                </thead>

                                <tbody>

                                    <td> {{recipeData.name}}</td>
                                    <td> {{recipeData.protein}}</td>
                                    <td> {{recipeData.lipid}}</td>
                                    <td> {{recipeData.kcal}}</td>
                                    <td> {{recipeData.carbs}}</td>
                                    <td>
                                        <button mat-raised-button type="button" matTooltip="Remove" (click)="onRemoveRecipe()" [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon pull-right">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>