
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Find one of your recipes</h4>
                        <p class="card-category">Recipes </p>
                    </div>
                    <div class="card-body">
                        <form method="post" (ngSubmit)="onSearch(f)" #f="ngForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name" name="name" ngModel required >
                                    </mat-form-field>
                                </div>
                                
                                
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-warning" [disabled]="f.invalid">Search</button>
                                    <button class="btn btn-warning pull-right" routerLink="/register-recipes">New Recipe</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" >
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Information of recipe</h4>
                        <p class="card-category">Recipe </p>
                    </div>
                    <div class="card-body">                   
                            <div class="card-content table-responsive table-full-width">
                                <table class="table">
                                  <thead class="text-warning">
                                    <th>Ingredients</th>
                                    <th>Protein</th>
                                    <th>Lipid</th>
                                    <th>kcal</th>
                                    <th>carbs</th>
                                  </thead>
                                  <tbody>                     
                                     <tr *ngFor = "let receip of receipsData.receips">
                                            
                                            <td> {{receip.name}}</td>
                                            <td> {{receip.protein}}</td>
                                            <td> {{receip.lipid}}</td>
                                            <td> {{receip.kcal}}</td>
                                            <td> {{receip.carbs}}</td>
                                    </tr>
                                    <thead class="text-warning">
                                        <tr>
                                          <td> Total</td>
                                          <td> {{receipsData.receips.length}}</td>
                                        </tr>
                                </thead>
                                  </tbody>
                                </table>
                                
                              </div>
                             
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
    </div>
    </div>
</div>

        
  