<div class="main-content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6 col-sm-12">

                <div class="card">

                    <div class="card-header card-header-warning">

                        <h4 class="card-title">Ingredient</h4>
                        <p class="card-category">Ingredient informations</p>

                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" name="name" value="{{ingredientData.name}}" [disabled]="true">
                                </mat-form-field>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Protein" name="protein" value="{{ingredientData.protein}}" type="number" [disabled]="true">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Lipid" name="lipid" value="{{ingredientData.lipid}}" type="number" [disabled]="true">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Carbs" name="carbs" value="{{ingredientData.carbs}}" type="number" [disabled]="true">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="kcal" name="kcal" value="{{ingredientData.kcal}}" type="number" [disabled]="true">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Quantity" name="qty" value="{{ingredientData.quantity}}" type="number" [disabled]="true">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Unit" name="unit" value="{{ingredientData.unit}}" [disabled]="true">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Recipe quantity" name="recipeQty" type="number" (keyup)="onKeyQty($event)">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <button class="btn btn-warning pull-right" (click)="onAdd()">Add</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="card">

                    <div class="card-header card-header-warning">

                        <h4 class="card-title">Find an ingredient</h4>
                        <p class="card-category">add an ingredient to your receip </p>

                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-8">

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Ingredient" type="text" (keyup)="onKeySeaerchedIngredients($event)">
                                </mat-form-field>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-12">

                                <mat-selection-list [multiple]="false" (selectionChange)="onChangeMyIngredients($event)">
                                    <mat-list-option class="list-single-selection-example" *ngFor="let ingredient of mySearchedIngredients" value="{{ingredient}}">
                                        {{ingredient}}
                                    </mat-list-option>
                                </mat-selection-list>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <div class="col-lg-6 col-md-12">

                <div class="card">

                    <div class="card-header card-header-tabs card-header-warning">

                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Your Recipe:</span>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="tab-content">

                            <div class="tab-pane active" id="profile">

                                <div class="row">

                                    <div class="col-8">

                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Name" name="name" (keyup)="onKeyRecipeName($event)">
                                        </mat-form-field>

                                    </div>

                                    <div class="col-4">

                                        <button mat-raised-button class="btn btn-warning pull-right" (click)=onCreate()>Create</button>

                                    </div>

                                </div>

                                <div class="row">

                                    <table class="table">
                                        <thead class="text-warning">
                                            <th>kcal</th>
                                            <th>Protein</th>
                                            <th>Lipid</th>
                                            <th>carbs</th>
                                        </thead>
                                        <tbody>

                                            <td> {{recipeData.kcal}}</td>
                                            <td> {{recipeData.protein}}</td>
                                            <td> {{recipeData.lipid}}</td>
                                            <td> {{recipeData.carbs}}</td>

                                        </tbody>
                                    </table>

                                </div>

                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let ing of receipIngredientList; let i = index">

                                            <td> {{ing.ingredient.name}} ===> Quantity : {{ing.qty}}</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Remove" (click)="onRemoveIngredient(i)" *ngIf="ing" [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>